[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=totalopenstation-gui.py
Name=Total Open Station
Comment=Download and export survey data from your total station
